.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contains{
  display: flex;
}

.barChartFont{
  margin-left: 30px;
  font-style: italic;
  font-size: 30px;
}


.ScatterChartFont{
  margin-top: 2%;
  margin-left: 30px;
  font-style: italic;
  font-size: 30px;
}
.barChart{
  margin-left: 2%;
  margin-right: 2%;
  
}

.ScatterChart{
  margin-left: 2%;
  margin-right: 2%;

 
}




/*****************DESKTOP*******************/
@media screen and (max-width: 1491px){
  .barChart{
    width: 90%;

  }

  .ScatterChart{
    width: 90%;
  }

}

@media screen and (max-width: 1024px){
  .barChartFont{
    margin-top: 100px;
  }

  .ScatterChartFont{
    margin-top: 100px;
  }
  .barChart{
    font-size: 40px;
    width: 100%;
    height: 100%;

  }

  .ScatterChart{
    font-size: 40px;
    width: 110%;
    /* height: 10%; */
  }

}
@media screen and (max-width: 1401px){

}
@media screen and (max-width: 1282px){
  
}
/*****************DESKTOP*******************/

/******************TABLET*******************/
@media screen and (max-width: 1005px){
  
}
@media screen and (max-width: 975px){
  
}
@media screen and (max-width: 961px){
 
}
@media screen and (max-width: 926px){
  
}
@media screen and (max-width: 847px){
  .barChart{
    width: 90%;
    height: 100%;

  }

  .ScatterChart{
    width: 90%;
    height: 100%;
  }
}

@media screen  and (max-width :768px){
  .barChart{
    width: 90%;
    height: 100%;

  }

  .ScatterChart{
    /* grid: 1000px 0px 0px 0px; */
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 673px){
  .barChart{
    width: 90%;
    height: 100%;

  }

  .ScatterChart{
    width: 90%;
    height: 100%;
  }
}



/******************TABLET*******************/

/******************MOBILE*******************/


@media screen and (max-width: 628px){
  .barChart{
    width: 90%;
    height: 100%;

  }

  .ScatterChart{
    width: 90%;
    height: 100%;
  }
} 
@media screen and (max-width: 575px){
  .barChart{
    width: 90%;
    height: 100%;

  }

  .ScatterChart{
    width: 90%;
    height: 100%;
  }

}
@media screen and (max-width: 412px){
  .barChart{
    width: 90%;
    height: 100%;

  }

  .ScatterChart{
    width: 90%;
    height: 100%;
  }
}
/******************MOBILE*******************/

@media screen and (max-width: 320px){
  
  .barChartFont{
    font-size: small;
    margin-top: 0px;
  }

  .ScatterChartFont{
    font-size: small;
    margin-top: 0px;
  }

  .barChart{
    
    width: 140%;
    height: 100%;

  }

  .ScatterChart{
    width: 140%;
    height: 100%;
  }
}



@media screen and (max-width: 375px){
  .barChart{
    width: 150%;
    height: 100%;

  }

  .ScatterChart{
    width: 150%;
    height: 100%;
  }
}

/* 
@media (width < 374px){
  
.barChartFont{
  font-size: 20px;
}


.ScatterChartFont{
  margin-top: 2%;
  font-size: 20px;
}
  .barChart{
    width: 150%;
    height: 100%;
  
  }

  .ScatterChart{
    width: 140%;
    height: 100%;
   }
}
 */
